
/*.weatherpic {
    width: 150px;
    height: 150px;
    margin-left: 50px;
  }*/

  .weather {
    display: flex; /* Flexbox 레이아웃 적용 */
    align-items: center; /* 가로축(수평) 가운데 정렬 */
    justify-content: center; /* 세로축(수직) 가운데 정렬 */
    padding-top: 1rem;
    gap:50px;

  }
  
  .weatherinfo {
    text-align: center;
  }
  
  .weatherpic {
    width: 200px; /* 원하는 크기로 조절 (예: 150px) */
    height: auto; /* 이미지 비율 유지 */
  }

/*.weather {
  display :flex;
  gap: 1rem;
  height: 100%;
  padding-top: 1rem;
}

.weatherinfo {
  flex-grow:1;
  margin-left: 50px;
  margin-top: 30px;
}*/

.nowweather {
  position: sticky; /* Use sticky positioning to keep it at the top during scroll */
  top: 40px;
  z-index: 10; /* Ensure it stays on top of the scrolling content */
  padding: 1rem 0; /* Add some vertical padding */
  margin: 0; /* Reset default margin */
  text-align: center; /* Center the text if desired */
 }

.temp {
  font-size: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
 }

